@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RDLC report in ASP.NET Core</h1>
</div>
<a id="btnPrint" class="btn btn-success" href="../home/print" target="_blank"> Print </a>